<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /subdirectory
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
  RewriteRule https://demoweb.go.yo.fr/ contact.php
  RewriteRule https://demoweb.go.yo.fr/ rating.php
  AddDefaultCharset UTF-8
  AddCharset UTF-8 .html .css .js
</IfModule>

<FilesMatch "\.(js|css|gif|jpg|jpeg|png|ico)$">
  Header unset Cookie
  Header unset Set-Cookie
  Header set Cache-Control "max-age=31536000"
  Header set vary "Accept-Encoding"
  Header append vary "User-Agent"
  Header append Cache-Control "public"
  Header append Connection "Keep-Alive"
  Header append Keep-Alive "timeout=5, max=100"

  FileETag None
</FilesMatch>